@page
@model RazorPages.Pages.ManagerPage.ManageCar.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "/Pages/Shared/_LayoutManagerPage.cshtml";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.CarId" class="control-label"></label>
                <input asp-for="Car.CarId" class="form-control" />
                <span asp-validation-for="Car.CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CategoryId" class="control-label"></label>
                <select asp-for="Car.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarName" class="control-label"></label>
                <input asp-for="Car.CarName" class="form-control" />
                <span asp-validation-for="Car.CarName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Description" class="control-label"></label>
                <input asp-for="Car.Description" class="form-control" />
                <span asp-validation-for="Car.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.UnitPrice" class="control-label"></label>
                <input asp-for="Car.UnitPrice" class="form-control" />
                <span asp-validation-for="Car.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.UnitsInStock" class="control-label"></label>
                <input asp-for="Car.UnitsInStock" class="form-control" />
                <span asp-validation-for="Car.UnitsInStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarStatus" class="control-label"></label>
                <input asp-for="Car.CarStatus" class="form-control" />
                <span asp-validation-for="Car.CarStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
