@page
@model RazorPages.Pages.Admin.DashboardModel
@{
	Layout = "/Pages/Shared/_LayoutAdmin.cshtml";

}

<div class="container mt-4">
    <h2 class="mb-4">Admin Dashboard</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h5 class="card-title">Number of Users</h5>
                    <p class="card-text">@Model.NumberOfUsers</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">Number of Cars</h5>
                    <p class="card-text">@Model.NumberOfCars</p>
                </div>
            </div>
        </div>
    </div>
</div>
